.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
model_dhs_data.*
/var/folders/m1/3d_3d9vj7px5m8v13x15l_d80000gn/T//Rtmpdy4HvO/rdhs/rdhs.json
/Users/dennis/Library/Caches/rdhs/rdhs.json
rdhs.json
rdhs_cache/
*.swp
*.nb.html
server-sync.sh
data/
sim-data/
sim-data
sim-out/
sim-out
out/

